.wolf-1{
background-color: aqua;    
display: block;    
margin-left: auto;
margin-right: auto;
}


body{   


  background-image: url(https://t4.ftcdn.net/jpg/03/59/55/79/360_F_359557922_GPydLSSfjdlK4oEGn1ScOsMLFoEDecTl.jpg)

}



.wolf-2{
color: antiquewhite;

}

.wolf-3{
padding: 320px;


}

.wolf-4{
    color: blueviolet;
}

.wolf-5{
color: blueviolet;
}

